{% extends "main.html" %}
{% load i18n %}
{% load cloudinary %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Clear Chat messages" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans "Do you want to clear all the chat messages?" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
        <a class="btn btn-danger" role="button" href="{% url "clear-club-chats" club.id room_name %}">{% trans "Clear" %}</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div class="row">
      <div class="col-2">
        Recent Activities
      </div>
      <div class="col-10 my-2">

        <div>
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/group/{{group.id}}">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clubs/{{group.id}}">Clubs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events/{{group.id}}">Events</a>
            </li>

          </ul>
          <hr>
          <div>
    {% if request.user in members %}
    <div>
      <h5>Please keep this discussion respectful.</h5>
    </div>
    <div
      class="chat__item__container"
      id="id_chat_item_container"
      style="font-size: 15px;width: 100%;height: 22rem; background-color: #90C3D4; overflow-y: scroll;"
    >

    </div>
    <div class="list-group" style="display: flex; flex-direction: column; align-items: flex-start; position: sticky; bottom: 0;">
      <li class="list-group-item px-2" style="width: 100%;">
      <div class="mx-4">
        <div class="row">
          <div class="col-1">
            <img src="{{request.user.avatar.url}}" style="height: 2.5rem; width: 2.5rem; border-radius: 5rem; margin-left: 1rem;" />
          </div>
          <div class="col-10">
            <textarea name="body" id="id_message_send_input" rows="1" style="width: 100%;" placeholder="Type a message!"></textarea>
            <!-- <input type="text" name='body' placeholder="What's happening, {{request.user.username}}?" style="width: 100%;"> -->
          <!-- </div>
          <div class="col-1">
            <input type="submit" id="id_message_send_button" value="Send">
          </div>

        </div>

      </div>

    </li>
    </div>
    {% else %}
    This group is private. Join the group to participate in the discussion.
    {% endif %}
    <script>
      const chatSocket = new WebSocket("ws://" + https://akshay34567.pythonanywhere.com + "/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.querySelector("#id_message_send_input").focus();
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };
      document.querySelector("#id_message_send_button").onclick = function (e) {
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;
        chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
      };
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");
        div.className = 'container';
        var div_name = document.createElement("div");
        var div_body = document.createElement("div");
        var div_time = document.createElement("span");
        div.appendChild(div_name);
        div.appendChild(div_body);
        div.appendChild(div_time);
        if (data.username == '{{request.user.username}}') {
          div_name.innerHTML = 'You' ;
          div_body.innerHTML = data.message;
          div_name.style.textAlign = 'right';
          div_body.style.textAlign = 'right';
          div.style.backgroundColor = '#DCF8C6';
          div.style.borderRadius = '5px';
          div.style.margin = '10px 0';
          div.style.padding = '10px';
          div.style.clear = 'both';
          div.style.float = 'right';
          div.style.width = 'fit-content';
          div.style.border ='2px solid #dedede';
          document.querySelector("#id_message_send_input").value = "";
          document.querySelector("#id_chat_item_container").appendChild(div);
        }
        else{
          div_name.innerHTML ='@' + data.username;
          div_body.innerHTML = data.message;
          div.style.backgroundColor = '#EAEAEA';
          div.style.border = '2px solid #ccc';
          div.style.width = 'fit-content'
          div.style.borderRadius = '5px';
          div.style.margin = '10px 0';
          div.style.clear = 'both';
          div.style.float = 'left';
          div.style.borderRadius = '5px';
          //document.querySelector("#id_message_send_input").value = "";
          document.querySelector("#id_chat_item_container").appendChild(div);
        };

      };
    </script>





            </div>
              {% comment %} <div class="card">
                <div class="card-header">
                  @{{post.creator.username}} - {{post.created}}
                </div>
                <div class="card-body">
                  <p class="card-text">{{post.body}}</p>

                  {% if request.user == post.creator %}
                  <a href="{% url " edit-post" post.id %}" class="btn btn-primary">Edit</a>
                  <a href="{% url " delete-post" post.id %}" class="btn btn-primary">Delete</a>
                  {% else %}
                  <a href="{% url " create-post-report-request" post.id %}" class="btn btn-primary">Report</a>
                  {% endif %}

                </div>
                <a href="{% url " post-details" post.id %}">See comments</a>
              </div> {% endcomment %}
              {% comment %} <div>
                <a href="{% url " user-profile" post.creator.id %}">@{{post.creator.username}}</a>
              </div>
              {% if post.created != post.updated %}
              <p>Edited at {{post.updated}}</p>
              {% endif %}
              <div>
                {{post.body}}
              </div>
              <div>
                {{post.created|timesince}} ago
              </div>
              {% if request.user == post.creator %}
              <a href="{% url " edit-post" post.id %}">Edit</a>
              <a href="{% url " delete-post" post.id %}">Delete</a>
              {% else %}
              <a href="{% url " create-post-report-request" post.id %}">Report</a>
              {% endif %}
              <a href="{% url " post-details" post.id %}">See comments({{post.no_of_comments}})</a>

            </div>
            <hr> {% endcomment %}


          </div>


        </div>
      </div>

    </div>
  </div> -->
  {% include "base/components/club_offcanvas.html" %}


<div class="">
  <div class="row bg-dark mx-2">
    <div class="col-xl-3 col-lg-3 col-md-3 bg-dark my-3 col-sm-0 d-none d-sm-block ">
        <a href="{% url 'club' club.group.id %}" class="btn btn-outline-primary" role="button">{% trans "Back to group page" %}</a>
      {% include "base/components/club_profile.html" %}
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 bg-dark col-sm-12 ">
      <!-- <div class="d-none d-sm-block">
        {% include "base/group_info.html" %}
      </div> -->
      <div class="d-none d-sm-block">
        <div class="d-flex bd-highlight list-group list-group-horizontal border ">
            <a class="p-2 flex-fill bd-highlight list-group-item bg-secondary border-white" aria-current="page" href="{% url "club-page" club.id 1 %}">
              <div class="d-flex justify-content-center text-white">
                {% trans "Feed" %}
              </div>
            </a>
            <a class="p-2 flex-fill bd-highlight list-group-item bg-secondary border-white " href="#">
              <div class="d-flex justify-content-center text-white">
                {% trans "Events" %}
              </div>
            </a>
            <a class="p-2 flex-fill bd-highlight list-group-item bg-primary active border-white" href="{% url "club-chat" club.id club.chat_room %}">
              <div class="d-flex justify-content-center text-white">
                {% trans "Chat" %}
              </div>
            </a>
            <a class="p-2 flex-fill bd-highlight list-group-item bg-primary bg-secondary border-white" href="{% url "club-gallery" club.id %}">
              <div class="d-flex justify-content-center text-white">
                {% trans "Gallery" %}
              </div>
            </a>
          </div>
      </div>
      <!-- <div class="d-flex d-sm-none row my-1">
        <div class="col-2">
          <button
          class="btn btn-light"
          type="button"
            data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
          >
        <span class="navbar-toggler-icon"></span>
        </button>
        </div>

        <div class="col-3 offset-3">
          <h1>Chat</h1>
        </div> -->
        <!-- <div class="dropdown">
          <button
            class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Discussion
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item " href="/group/{{group.id}}">Posts</a></li>
            <li><a class="dropdown-item" href="/clubs/{{group.id}}">Clubs</a></li>
            <li><a class="dropdown-item" href="/events/{{group.id}}">Events</a></li>
            <li><a class="dropdown-item active" href="#">Discussion</a></li>
          </ul>
        </div> -->
      <!-- </div> -->









        <!-- {% if request.user in members or request.user == group.creator %}


        {% endif %} -->
        <div class="py-1">
          {% if request.user in members %}
          <div
            class="chat__item__container"
            id="id_chat_item_container"
            style="font-size: 15px;width: 100%;height: 27rem; background-color: #988C8B; overflow-y: scroll;"
            >
            {% if request.user == club.host %}
            <p><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: red;">{% trans "Clear chats" %}</a></p>
            {% endif %}
            <p class="text-white d-flex justify-content-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
            </svg> {% trans "Please remember to maintain a respectful tone in the chat." %} Currently, the discussion page does not work due to some problem. The problem will be solved soon.</p>
            {% for message in messages0 %}
              {% if message.sender == request.user.username %}
              <div style="background-color: #DCF8C6; border-radius: 5px;margin-top: 10px; margin-right: 10px; padding: 10px; clear: both; float: right; width: fit-content; border: 2px solid #dedede;">
                <div id="name" style="text-align: right;">
                  {% trans "You" %}
                </div>
                <div id="content" style="text-align: right;">
                  {{message.content}}
                </div>
              </div>
              {% else %}
              <div style="background-color: #EAEAEA; border-radius: 5px;margin: 10px; margin-left: 10px; padding: 10px; clear: both; float: left; width: fit-content; border: 2px solid #ccc;">
                <div id="name" style="text-align: left;">
                  @{{message.sender}}
                </div>
                <div id="content" style="text-align: left;">
                  {{message.content}}
                </div>
              </div>

              {% endif %}
            {% endfor %}


          </div>
          <div class="d-none d-sm-block">
            <div class="list-group" style="display: flex; flex-direction: column; align-items: flex-start; bottom: 0;">
              <li class="list-group-item px-2 bg-secondary" style="width: 100%;">
                <div class="mx-4">
                  <div class="d-flex justify-content-between">
                    <div class="mx-1">
                      <img src="{{request.user.avatar.url}}" style="height: 2rem; width: 2rem; border-radius: 5rem; margin-left: -1rem;;" />
                    </div>
                    <div class="w-100">
                      <textarea name="body2" id="id_message_send_input" rows="1" style="width: 100%; margin-left: 0rem;" placeholder="{% trans "Type a message!" %}"></textarea>
                    </div>
                    <div class="mx-1">
                      <input type="submit" id="id_message_send_button" value="{% trans "Send" %}">
                    </div>

                  </div>

                </div>

              </li>
            </div>
          </div>
          <!-- <div class="list-group" style="display: flex; flex-direction: column; align-items: flex-start; bottom: 0;">
            <li class="list-group-item px-2" style="width: 100%;">
              <div class="mx-4">
                <div class="d-flex justify-content-between">
                  <div class="mx-1">
                    <img src="{{request.user.avatar.url}}" style="height: 2rem; width: 2rem; border-radius: 5rem; margin-left: -1rem;;" />
                  </div>
                  <div class="w-100">
                    <textarea name="body" id="id_message_send_input" rows="1" style="width: 100%; margin-left: 0rem;" placeholder="Type a message!"></textarea>
                  </div>
                  <div class="mx-1">
                    <input type="submit" id="id_message_send_button" value="Send">
                  </div>

                </div>

              </div>

            </li>
          </div> -->
          <!-- <div class="list-group" style="display: flex; flex-direction: column; align-items: flex-start; bottom: 0;">
            <li class="list-group-item px-2" style="width: 100%;">
              <div class="mx-4">
                <div class="d-flex justify-content-between">
                  <div class="mx-1">
                    <img src="{{request.user.avatar.url}}" style="height: 2rem; width: 2rem; border-radius: 5rem; margin-left: -1rem;;" />
                  </div>
                  <div class="w-100">
                    <textarea name="body" id="id_message_send_input" rows="1" style="width: 100%; margin-left: 0rem;" placeholder="Type a message!"></textarea>
                  </div>
                  <div class="mx-1">
                    <input type="submit" id="id_message_send_button" value="Send">
                  </div>

                </div>

              </div>

            </li>
          </div> -->
          <!-- <div
            class="list-group py-2 d-block d-sm-none"
            style="display: flex; flex-direction: column; align-items: flex-start"
          >
            <li class="list-group-item px-2" style="width: 100%">
              <div class="mx-4">
                <div class="row">
                  <div class="col-1">
                    <img
                      src="{{request.user.avatar.url}}"
                      style="
                        height: 2rem;
                        width: 2rem;
                        border-radius: 5rem;
                        margin-left: -2rem;
                      "
                    />
                  </div>
                  <div class="col-10">
                    <textarea name="body" id="id_message_send_input" rows="1" style="width: 100%; margin-left: -1rem;" placeholder="Type a message!"></textarea>
                     <input type="text" name='body' placeholder="What's happening, {{request.user.username}}?" style="width: 100%;"> -->
                  <!-- </div>
                  <div class="col-1" style="margin-left: -2rem;">
                    <input type="submit" id="id_message_send_button" value="Send" />
                  </div>

                </div>


              </div>
            </li>
          </div>
          <div>

          </div> -->
          {% else %}
            {% trans "This group is private. Join the group to participate in the discussion." %}
          {% endif %}


        </div>




      </div>
      <div class="px-1 col-xl-3 col-lg-3 col-md-3 my-3 col-sm-0 d-none d-sm-block" style="background-color: black; border-radius: 10px;">
        <div>
            <h5 class="my-3 text-white d-flex justify-content-center">{% trans "Members" %}</h5>
            <div class="mx-3 my-5 ">

              {% for member in members %}
            <div class="d-flex my-3 ">
            <div>
                <img src="{{member.avatar.url}}" style="border: 10px;height: 23px; width: 23px; border-radius: 10px;" alt="">
            </div>
            <div>
                <a href="{% url "user-profile" member.id %}" class="mx-3" style="color: white;font-size: large;text-decoration: none;">{{member.name}} {% if member == club.host %}(Admin){% endif %}</a>
            </div>
            {% if request.user == club.host and member != club.host %}
                <div>
                <a href="{% url "remove-club-member" club.id member.id %}" aria-label="Kick">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16" aria-label="Kick">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708"/>
                  </svg>
                </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            </div>

        </div>
    </div>
    </div>


  </div>
</div>
<!-- <div class="list-group " style="display: flex; flex-direction: column; align-items: flex-start; bottom: 0;">
  <li class="list-group-item px-2" style="width: 100%;">
    <div class="mx-4">
      <div class="d-flex justify-content-between">
        <div class="mx-1">
          <img src="{{request.user.avatar.url}}" style="height: 2rem; width: 2rem; border-radius: 5rem; margin-left: -1rem;;" />
        </div>
        <div class="w-100">
          <textarea name="body" id="id_message_send_input" rows="1" style="width: 100%; margin-left: 0rem;" placeholder="Type a message!"></textarea>
        </div>
        <div class="mx-1">
          <input type="submit" id="id_message_send_button" value="Send">
        </div>

      </div>

    </div>

  </li>
</div> -->





<div class="fixed-bottom d-block d-sm-none">
  <div class="list-group" style="display: flex; flex-direction: column; align-items: flex-start; bottom: 0;">
    <li class="list-group-item px-2" style="width: 100%;">
      <div class="mx-4">
        <div class="d-flex justify-content-between">
          <div class="mx-1">
            <img src="{{request.user.avatar.url}}" style="height: 2rem; width: 2rem; border-radius: 5rem; margin-left: -1rem;;" />
          </div>
          <div class="w-100">
            <textarea name="body" id="id_message_send_input2" rows="1" style="width: 100%; margin-left: 0rem;" placeholder="{% trans "Type a message!" %}"></textarea>
          </div>
          <div class="mx-1">
            <input type="submit" id="id_message_send_button2" value="{% trans "Send" %}">
          </div>

        </div>

      </div>

    </li>
  </div>
  <!-- {% comment %} <div class="list-group" style="display: flex; flex-direction: column; align-items: flex-start; bottom: 0;">
    <li class="list-group-item px-2" style="width: 100%;">
      <div class="mx-4">
        <div class="d-flex justify-content-between">
          <div class="mx-1">
            <img src="{{request.user.avatar.url}}" style="height: 2rem; width: 2rem; border-radius: 5rem; margin-left: -1rem;;" />
          </div>
          <div class="w-100">
            <textarea name="body" id="id_message_send_input2" rows="1" style="width: 100%; margin-left: 0rem;" placeholder="Type a message!"></textarea>
          </div>
          <div class="mx-1">
            <input type="submit" id="id_message_send_button2" value="Send">
          </div>

        </div>

      </div>

    </li>
  </div> {% endcomment %} -->

  <div class="d-flex bd-highlight list-group list-group-horizontal">

    <a href="{% url "club-page" club.id 1 %}" style="font-size: small;" class="bg-dark text-white p-2 flex-fill bd-highlight list-group-item border-end-0 border-start-0 border-2">
      <div class="d-flex justify-content-center">
        {% trans "Feed" %}
      </div>
    </a>
    <a href="#" style="font-size: small;" class="bg-dark text-white p-2 flex-fill bd-highlight list-group-item border-end-0 border-start-0 border-2">
      <div class="d-flex justify-content-center">
        {% trans "Events" %}
      </div>
    </a>
    <button style="font-size: small;" class="p-2 flex-fill bd-highlight list-group-item bg-dark text-white border-end-0 border-start-0 border-2 " data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    <div class="d-flex justify-content-center">
      {% trans "Club" %}
    </div>
    </button>
    <a href="{% url "club-chat" club.id club.chat_room %}" style="font-size: small;" class="active bg-dark text-white p-2 flex-fill bd-highlight list-group-item border-end-0 border-start-0 border-2">
      <div class="d-flex justify-content-center">
        {% trans "Chat" %}
      </div>
    </a>
    <a href="{% url "club-gallery" club.id %}" style="font-size: small;" class=" bg-dark text-white p-2 flex-fill bd-highlight list-group-item border-end-0 border-start-0 border-2">
      <div class="d-flex justify-content-center">
        {% trans "Gallery" %}
      </div>
    </a>
  </div>
</div>
{{ room_name|json_script:"room-name" }}
<script>
  // Get the scrollable div element
  let div = document.getElementById('id_chat_item_container');

// Listen for a scroll event on the div
div.addEventListener('scroll', () => {
  let scrollTop = div.scrollTop;
  let scrollHeight = div.scrollHeight;
  let clientHeight = div.clientHeight;

  if (scrollTop + clientHeight >= scrollHeight) {
    console.log('Reached the bottom of the div');
  }
});

// Function to scroll to the bottom of the div
function scrollToDivBottom() {
  setTimeout(() => {
    div.scrollTop = div.scrollHeight;
  }, 0);
}
  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  const chatSocket = new WebSocket("ws://" + akshay34567.pythonanywhere.com + "/ws/chat/" + roomName + "/" );
  chatSocket.onopen = function (e) {
    console.log("The connection was setup successfully !");
  };
  chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
  };

  document.querySelector("#id_message_send_input").focus();
  document.querySelector("#id_message_send_input2").focus();
  document.querySelector("#id_message_send_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
      document.querySelector("#id_message_send_button").click();
    }
  };
  document.querySelector("#id_message_send_input2").onkeyup = function (e) {
    if (e.keyCode == 13) {
      document.querySelector("#id_message_send_button2").click();
    }
  };
  document.querySelector("#id_message_send_button").onclick = function (e) {
    var messageInput = document.querySelector(
      "#id_message_send_input"
    ).value;
    chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}", chat_room_id: "{{room_name}}"}));
  };
  document.querySelector("#id_message_send_button2").onclick = function (e) {
    var messageInput = document.querySelector(
      "#id_message_send_input2"
    ).value;
    chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}",  chat_room_id: "{{room_name}}"}));
  };
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var div = document.createElement("div");
    div.className = 'container';
    var div_name = document.createElement("div");
    var div_body = document.createElement("div");
    var div_time = document.createElement("span");
    div.appendChild(div_name);
    div.appendChild(div_body);
    div.appendChild(div_time);
    if (data.username == '{{request.user.username}}') {
      div_name.innerHTML = '{% trans "You" %}' ;
      div_body.innerHTML = data.message;
      div_name.style.textAlign = 'right';
      div_body.style.textAlign = 'right';
      div.style.backgroundColor = '#DCF8C6';
      div.style.borderRadius = '5px';
      div.style.marginTop = '10px';
      div.style.marginRight = '10px';
      div.style.padding = '10px';
      div.style.clear = 'both';
      div.style.float = 'right';
      div.style.width = 'fit-content';
      div.style.border ='2px solid #dedede';
      document.querySelector("#id_message_send_input").value = "";
      document.querySelector("#id_message_send_input2").value = "";
      document.querySelector("#id_chat_item_container").appendChild(div);
    }
    else{
      div_name.innerHTML ='@' + data.username;
      div_body.innerHTML = data.message;
      div.style.backgroundColor = '#EAEAEA';
      div.style.border = '2px solid #ccc';
      div.style.width = 'fit-content'
      div.style.borderRadius = '5px';
      div.style.marginTop = '10px ';
      div.style.marginLeft = '10px'
      div.style.clear = 'both';
      div.style.float = 'left';
      div.style.borderRadius = '5px';
      //document.querySelector("#id_message_send_input").value = "";
      document.querySelector("#id_chat_item_container").appendChild(div);
    };

  };
</script>

{% endblock content %}