{% extends "main.html" %}
{% block content %}
{% load i18n %}

<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
    <div class="card " style="width: 18rem">
        <div class="card-body" style="margin-bottom: 3rem;">
            <h5 class="card-title text-center">{% trans "Change Password" %}</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="exampleFormControlInput1" class="form-label">{% trans "Old Password" %}</label>
                <input type="password" class="form-control" name='password1' id="password"></input>
                <label for="exampleFormControlInput1" class="form-label">{% trans "New Password" %}</label>
                <input type="password" class="form-control" name='password2' id="password"></input>
                <label for="exampleFormControlInput1" class="form-label">{% trans "Confirm Password" %}</label>
                <input type="password" class="form-control" name='password3' id="password"></input>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary my-2">{% trans "Change" %}</button>
                </div>
                
                
            </form>


            
        </div>
    </div>
</div>

{% endblock content %}


