{% extends "main.html" %}

{% block content %}
{% load i18n %}
<div>
    <div class="d-flex justify-content-center my-1">
        <div class="spinner-border" id="loader" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    {% comment %} <a href="{% url "user-profile" request.user.id %}">back to profile</a> {% endcomment %}
    <div class="mx-4">
        <h3>{% trans "Edit Profile" %}</h3>
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{form.as_div}}
        <button type="submit" class="btn btn-primary" onclick="spinner()">{% trans "Edit" %}</button>
        <a href="{% url "user-profile" request.user.id %}" class="btn btn-danger">{% trans "Cancel" %}</a>
    </form>
    </div>
    
</div>

<script type="text/javascript">
    function spinner() {
        document.getElementById("loader").style.display = "block"
    }
</script>



{% endblock content %}


