{% extends "main.html" %} {% load cloudinary%} {% block content %}
<div id="body" >
  <div class="row m-3" >
    <div id="left-side" class=" col-xl-9 col-lg-9 col-md-9">
      <div id="top-left" class="row">
        <div id="image-left-side" class="d-flex col-xl-2 col-lg-2 col-md-2 justify-content-center">
          <img src="{{user.avatar.url}}" style="height: 100px; width: 100px; border-radius: 50px;">
        </div>
        <div id="image-right-side" class="col-xl-10 col-lg-10 col-md-10 ">
          <div id="name" class="d-flex justify-content-center d-sm-none">
            <h2>{{user.name}}</h2>
          </div>
          <div id="name" class="d-none d-sm-block">
            <h2>{{user.name}}</h2>
          </div>
          <div id="username" class="d-flex justify-content-center d-sm-none">
            <h5>@{{user.username}}</h5>
          </div>
          <div id="username" class="d-none d-sm-block">
            <h5>@{{user.username}}</h5>
          </div>
        </div>
      </div>
      <div id="member_of" class="my-4">
        <h5>Member of Komyuniti since {{user.date_joined}}</h5>
      </div>
      <div id="buttons" class="my-3">
        {% if request.user == user %}
                <a class="btn btn-outline-primary" href="{% url "edit-profile" request.user.id %}" role="button" >Edit Profile</a>
                <a class="btn btn-outline-danger" href="{% url 'logout' %}" role="button" >Log Out</a>
                {% endif %}
      </div>
      <div id="about-me">
        <h4>About Me</h4>
        <p>
          {{user.bio}}
      </p>
      </div>
      
    </div>
    <div id="right-side" class="col-xl-3 col-lg-3 col-md-3">
      <h4>Mutual Groups</h4>
      <div class="my-2">
        <ul class="list-group">
            {% for groups in mutual_groups %}
            <a href="#" style="text-decoration: none;">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="row">
                    <div class="col-3">
                        <img src="{{groups.image.url}}" style="height: 50px; width: 50px; border-radius: 5px;">
                    </div>
                    <div class="col-9">
                        <h5>{{groups.name}}</h5>
                    </div>
                </div>
            </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    </div>
  </div>
</div>


  
  

{% endblock content %}
