{% extends "main.html" %} {% block content %} {% load i18n %}
<div class="container">
  <h2 class="mb-4">Settings</h2>

  <div class="list-group settings-list">
    <a href="{% url "user-profile" request.user.id %}" class="list-group-item list-group-item-action">{% trans "Profile" %}</a>
    <a href="{% url "change-password" %}" class="list-group-item list-group-item-action">{% trans "Change Password" %}</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Notifications</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Privacy</a>
    <div class="list-group-item p-0">
      <div class="dropdown">
      <button
        class="btn btn-link w-100 text-start px-3 py-2 dropdown-toggle"
        type="button"
        id="languageDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="text-decoration: none; color: inherit;"
      >
        Language &amp; Region
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="languageDropdown">
        {% load i18n %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for lang in languages %}
        <li>
        <a class="dropdown-item" href="/{{ lang.code }}/">
          {{ lang.name_local }}
          {% if lang.code == LANGUAGE_CODE %} <span class="text-success">&#10003;</span> {% endif %}
        </a>
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Billing</a>
    <a href="#" class="list-group-item list-group-item-action text-danger" >{% trans "Delete Account" %}</a>
    <a href="https://console.cloudinary.com/app/c-be3250bf972c5861dc80eeb2d7d481/assets/media_library/search?q=&view_mode=mosaic" class="list-group-item list-group-item-action" >{% trans "Cloudinary Homepage" %}</a>
  </div>


  <!-- <h3>Settings</h3>
  <div class="my-4">
    <div class="my-2 alert alert-primary">
      {% trans "Select Language" %}
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenu2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-globe-central-south-asia"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.882 1.731a.48.48 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.7.7 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a1 1 0 0 0-.462-.04 7 7 0 0 1 2.45-2.027m-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.8.8 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.45.45 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282l.04-.001a7.003 7.003 0 0 1-12.658.905Z"
            />
          </svg>
          {% trans "Language" %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages%}
          {% for lang in languages %}
          <li class="dropdown-item border-1">
            <a style="text-decoration: none" href="/{{lang.code}}/"
              >{{lang.name_local}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="my-4 alert alert-primary">
      <a style="text-decoration: none; color: black;" href="{% url "change-password" %}">{% trans "Change Password" %}</a>
    </div>
    <div class="my-4 alert alert-danger">
      <a style="text-decoration: none; color: black;" href="#">{% trans "Delete Account" %}</a>
    </div>
  </div>
</div> -->



{% endblock content %}
